$laptop: 1366px;
$tablet: 1024px;
$mobile: 768px;

:root {
  --button-color: #019fff;
  --button-color-active: #0769a5;
  --item-color:#f4f4f4;
  --item-color-hover: #dadada;
  --item-color-active: #bdbdbd;
  --item-border-color: rgba(151, 151, 151, 0.68);
}