/* Error: Undefined mixin.
 *     ,
 * 101 | /   @include respond(mobile) {
 * 102 | |     height: 6vw;
 * 103 | | 
 * 104 | |     .counter-count {
 * 105 | |       &__plus {
 * 106 | |         width: 20%;
 * 107 | |         border-radius: 0 1vw 1vw 0;
 * 108 | |       }
 * 109 | | 
 * 110 | |       &-input-container {
 * 111 | |         width: 60%;
 * 112 | |         font-size: 4vw;
 * 113 | |         gap: 1vw;
 * 114 | | 
 * 115 | |         .input-wrapper {
 * 116 | |           .input-mirror {
 * 117 | |             font-size: 4vw;
 * 118 | |           }
 * 119 | |           .counter-count__input {
 * 120 | |             font-size: 4vw;
 * 121 | |           }
 * 122 | |         }
 * 123 | | 
 * 124 | | 
 * 125 | |       }
 * 126 | | 
 * 127 | |       &__minus {
 * 128 | |         width: 20%;
 * 129 | |         border-radius: 1vw 0 0 1vw;
 * 130 | |       }
 * 131 | | 
 * 132 | |       &__img {
 * 133 | |         width: 3vw;
 * 134 | |         height: 3vw;
 * 135 | |       }
 * 136 | |     }
 * 137 | \   }
 *     '
 *   quantityControl.scss 101:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 101 \2502  \250c    @include respond(mobile) {\a 102 \2502  \2502      height: 6vw;\a 103 \2502  \2502  \a 104 \2502  \2502      .counter-count {\a 105 \2502  \2502        &__plus {\a 106 \2502  \2502          width: 20%;\a 107 \2502  \2502          border-radius: 0 1vw 1vw 0;\a 108 \2502  \2502        }\a 109 \2502  \2502  \a 110 \2502  \2502        &-input-container {\a 111 \2502  \2502          width: 60%;\a 112 \2502  \2502          font-size: 4vw;\a 113 \2502  \2502          gap: 1vw;\a 114 \2502  \2502  \a 115 \2502  \2502          .input-wrapper {\a 116 \2502  \2502            .input-mirror {\a 117 \2502  \2502              font-size: 4vw;\a 118 \2502  \2502            }\a 119 \2502  \2502            .counter-count__input {\a 120 \2502  \2502              font-size: 4vw;\a 121 \2502  \2502            }\a 122 \2502  \2502          }\a 123 \2502  \2502  \a 124 \2502  \2502  \a 125 \2502  \2502        }\a 126 \2502  \2502  \a 127 \2502  \2502        &__minus {\a 128 \2502  \2502          width: 20%;\a 129 \2502  \2502          border-radius: 1vw 0 0 1vw;\a 130 \2502  \2502        }\a 131 \2502  \2502  \a 132 \2502  \2502        &__img {\a 133 \2502  \2502          width: 3vw;\a 134 \2502  \2502          height: 3vw;\a 135 \2502  \2502        }\a 136 \2502  \2502      }\a 137 \2502  \2514    }\a     \2575 \a   quantityControl.scss 101:3  root stylesheet";
}
