/* Error: Undefined mixin.
 *    ,
 * 33 | /   @include respond(mobile) {
 * 34 | |     margin-top: 3vw;
 * 35 | |     gap: 3vw;
 * 36 | | 
 * 37 | |     &__title {
 * 38 | |       font-size: 3vw;
 * 39 | |     }
 * 40 | | 
 * 41 | |     &-container {
 * 42 | |       font-size: 2.5vw;
 * 43 | |       gap: 2.5vw;
 * 44 | |     }
 * 45 | | 
 * 46 | |     &-row {
 * 47 | |       & label {
 * 48 | |         width: 25vw;
 * 49 | | 
 * 50 | |       }
 * 51 | | 
 * 52 | |       & span {
 * 53 | |         width: 65%;
 * 54 | |         word-break: break-all;
 * 55 | |       }
 * 56 | |     }
 * 57 | \   }
 *    '
 *   contactBlock.scss 33:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 33 \2502  \250c    @include respond(mobile) {\a 34 \2502  \2502      margin-top: 3vw;\a 35 \2502  \2502      gap: 3vw;\a 36 \2502  \2502  \a 37 \2502  \2502      &__title {\a 38 \2502  \2502        font-size: 3vw;\a 39 \2502  \2502      }\a 40 \2502  \2502  \a 41 \2502  \2502      &-container {\a 42 \2502  \2502        font-size: 2.5vw;\a 43 \2502  \2502        gap: 2.5vw;\a 44 \2502  \2502      }\a 45 \2502  \2502  \a 46 \2502  \2502      &-row {\a 47 \2502  \2502        & label {\a 48 \2502  \2502          width: 25vw;\a 49 \2502  \2502  \a 50 \2502  \2502        }\a 51 \2502  \2502  \a 52 \2502  \2502        & span {\a 53 \2502  \2502          width: 65%;\a 54 \2502  \2502          word-break: break-all;\a 55 \2502  \2502        }\a 56 \2502  \2502      }\a 57 \2502  \2514    }\a    \2575 \a   contactBlock.scss 33:3  root stylesheet";
}
