/* Error: Undefined mixin.
 *    ,
 * 26 | /   @include respond(mobile) {
 * 27 | |     padding: 0;
 * 28 | |     height: 25vw;
 * 29 | |     justify-content: center;
 * 30 | |     gap: 2vw;
 * 31 | | 
 * 32 | |     &__message{ font-size: 4vw}
 * 33 | | 
 * 34 | |     &__button {
 * 35 | |       padding: 1vw 10vw;
 * 36 | |       font-size: 5vw;
 * 37 | |       border-radius: 1vw;
 * 38 | |     }
 * 39 | \   }
 *    '
 *   productActionsWrapper.scss 26:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 26 \2502  \250c    @include respond(mobile) {\a 27 \2502  \2502      padding: 0;\a 28 \2502  \2502      height: 25vw;\a 29 \2502  \2502      justify-content: center;\a 30 \2502  \2502      gap: 2vw;\a 31 \2502  \2502  \a 32 \2502  \2502      &__message{ font-size: 4vw}\a 33 \2502  \2502  \a 34 \2502  \2502      &__button {\a 35 \2502  \2502        padding: 1vw 10vw;\a 36 \2502  \2502        font-size: 5vw;\a 37 \2502  \2502        border-radius: 1vw;\a 38 \2502  \2502      }\a 39 \2502  \2514    }\a    \2575 \a   productActionsWrapper.scss 26:3  root stylesheet";
}
