/* Error: Undefined mixin.
 *    ,
 * 27 | /   @include respond(mobile) {
 * 28 | |     border-radius: 1.5vw;
 * 29 | |     padding: 0.7vw 1.5vw;
 * 30 | | 
 * 31 | |     &-big {
 * 32 | |       font-size: 3vw;
 * 33 | |     }
 * 34 | | 
 * 35 | |     &-small {
 * 36 | |       font-size: 2vw;
 * 37 | |     }
 * 38 | \   }
 *    '
 *   stockStatus.scss 27:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 27 \2502  \250c    @include respond(mobile) {\a 28 \2502  \2502      border-radius: 1.5vw;\a 29 \2502  \2502      padding: 0.7vw 1.5vw;\a 30 \2502  \2502  \a 31 \2502  \2502      &-big {\a 32 \2502  \2502        font-size: 3vw;\a 33 \2502  \2502      }\a 34 \2502  \2502  \a 35 \2502  \2502      &-small {\a 36 \2502  \2502        font-size: 2vw;\a 37 \2502  \2502      }\a 38 \2502  \2514    }\a    \2575 \a   stockStatus.scss 27:3  root stylesheet";
}
