/* Error: Undefined mixin.
 *    ,
 * 27 | /   @include respond(mobile) {
 * 28 | |     width: 100%;
 * 29 | |     margin-bottom: 1vw;
 * 30 | | 
 * 31 | |     &-header {
 * 32 | |       height: 6vw;
 * 33 | |       padding: 0 3vw 0 3.5vw;
 * 34 | | 
 * 35 | |       &__title {
 * 36 | |         font-size: 3vw;
 * 37 | |       }
 * 38 | | 
 * 39 | |       &__clear {
 * 40 | |         font-size: 2.5vw;
 * 41 | |       }
 * 42 | |     }
 * 43 | \   }
 *    '
 *   cartList.scss 27:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 27 \2502  \250c    @include respond(mobile) {\a 28 \2502  \2502      width: 100%;\a 29 \2502  \2502      margin-bottom: 1vw;\a 30 \2502  \2502  \a 31 \2502  \2502      &-header {\a 32 \2502  \2502        height: 6vw;\a 33 \2502  \2502        padding: 0 3vw 0 3.5vw;\a 34 \2502  \2502  \a 35 \2502  \2502        &__title {\a 36 \2502  \2502          font-size: 3vw;\a 37 \2502  \2502        }\a 38 \2502  \2502  \a 39 \2502  \2502        &__clear {\a 40 \2502  \2502          font-size: 2.5vw;\a 41 \2502  \2502        }\a 42 \2502  \2502      }\a 43 \2502  \2514    }\a    \2575 \a   cartList.scss 27:3  root stylesheet";
}
