.order-wrapper-admin {
  display: flex;
  width: 100%;
  gap: 0.5vw;
  font-size: 0.8vw;
  align-items: center;
  justify-content: space-between;

  .input {
    font-size: 0.8vw;
    width: 15%;
    text-align: center;
    resize: none;
    border-radius: 0.3vw;
    border: 0.5px solid #4B4B4B;
    padding: 1%;
    color: #4B4B4B;
    box-sizing: border-box;
    outline: none;

    &:focus-visible {
      border: 0.1vw solid #0585D0;
    }
  }

  .img {
    width: 1.5vw;
    height: 1.5vw;
    fill: #4B4B4B;

    &:hover {
      fill: #0585D0;
    }

  }

}
