/* Error: Undefined mixin.
 *     ,
 * 67  | /   @include respond(mobile) {
 * 68  | |     padding: 2vw 0;
 * 69  | | 
 * 70  | |     &-actions {
 * 71  | |       gap: 2vw;
 * 72  | |       margin-top: 2vw;
 * 73  | |       .product-card__button {
 * 74  | |         width: 100%;
 * 75  | |         height: 6vw;
 * 76  | |         border-radius: 1vw;
 * 77  | |         gap: 0.5vw;
 * 78  | | 
 * 79  | |         .product-card__button-img1 {
 * 80  | |           width: 2vw;
 * 81  | |         }
 * 82  | | 
 * 83  | |         .product-card__button-img2 {
 * 84  | |           width: 3vw;
 * 85  | |         }
 * 86  | | 
 * 87  | |         &.in-cart {
 * 88  | |           .product-card__button-img1 {
 * 89  | |             width: 4vw;
 * 90  | |           }
 * 91  | | 
 * 92  | |           &:hover {
 * 93  | |             .product-card__button-img1 {
 * 94  | |               width: 6vw;
 * 95  | |             }
 * 96  | |           }
 * 97  | |         }
 * 98  | |       }
 * 99  | |     }
 * 100 | | 
 * 101 | | 
 * 102 | \   }
 *     '
 *   productCounter.scss 67:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 67  \2502  \250c    @include respond(mobile) {\a 68  \2502  \2502      padding: 2vw 0;\a 69  \2502  \2502  \a 70  \2502  \2502      &-actions {\a 71  \2502  \2502        gap: 2vw;\a 72  \2502  \2502        margin-top: 2vw;\a 73  \2502  \2502        .product-card__button {\a 74  \2502  \2502          width: 100%;\a 75  \2502  \2502          height: 6vw;\a 76  \2502  \2502          border-radius: 1vw;\a 77  \2502  \2502          gap: 0.5vw;\a 78  \2502  \2502  \a 79  \2502  \2502          .product-card__button-img1 {\a 80  \2502  \2502            width: 2vw;\a 81  \2502  \2502          }\a 82  \2502  \2502  \a 83  \2502  \2502          .product-card__button-img2 {\a 84  \2502  \2502            width: 3vw;\a 85  \2502  \2502          }\a 86  \2502  \2502  \a 87  \2502  \2502          &.in-cart {\a 88  \2502  \2502            .product-card__button-img1 {\a 89  \2502  \2502              width: 4vw;\a 90  \2502  \2502            }\a 91  \2502  \2502  \a 92  \2502  \2502            &:hover {\a 93  \2502  \2502              .product-card__button-img1 {\a 94  \2502  \2502                width: 6vw;\a 95  \2502  \2502              }\a 96  \2502  \2502            }\a 97  \2502  \2502          }\a 98  \2502  \2502        }\a 99  \2502  \2502      }\a 100 \2502  \2502  \a 101 \2502  \2502  \a 102 \2502  \2514    }\a     \2575 \a   productCounter.scss 67:3  root stylesheet";
}
