/* Error: Undefined mixin.
 *    ,
 * 42 | /   @include respond(mobile) {
 * 43 | |     width: 100%;
 * 44 | | 
 * 45 | |     &__name {
 * 46 | |       font-size: 5vw;
 * 47 | |       font-weight: bold;
 * 48 | |     }
 * 49 | |     &__description {
 * 50 | |       font-size: 4vw;
 * 51 | |       color: #7F7F7F;
 * 52 | |       margin-top: 4vw;
 * 53 | |       white-space: pre-line;
 * 54 | |       max-height: 50vw;
 * 55 | | 
 * 56 | |       &::-webkit-scrollbar {
 * 57 | |         width: 2vw;
 * 58 | |       }
 * 59 | |     }
 * 60 | \   }
 *    '
 *   productInfo.scss 42:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 42 \2502  \250c    @include respond(mobile) {\a 43 \2502  \2502      width: 100%;\a 44 \2502  \2502  \a 45 \2502  \2502      &__name {\a 46 \2502  \2502        font-size: 5vw;\a 47 \2502  \2502        font-weight: bold;\a 48 \2502  \2502      }\a 49 \2502  \2502      &__description {\a 50 \2502  \2502        font-size: 4vw;\a 51 \2502  \2502        color: #7F7F7F;\a 52 \2502  \2502        margin-top: 4vw;\a 53 \2502  \2502        white-space: pre-line;\a 54 \2502  \2502        max-height: 50vw;\a 55 \2502  \2502  \a 56 \2502  \2502        &::-webkit-scrollbar {\a 57 \2502  \2502          width: 2vw;\a 58 \2502  \2502        }\a 59 \2502  \2502      }\a 60 \2502  \2514    }\a    \2575 \a   productInfo.scss 42:3  root stylesheet";
}
