.product-info {
  width: 57%;
  display: flex;
  flex-direction: column;
  gap: 1vw;

  &__name {
    font-size: 1vw;
    color: #4b4b4b;
    word-break: break-word;
  }
  &__description {
    font-size: 0.7vw;
    color: #7F7F7F;
    //margin-top: 1vw;
    white-space: pre-line;
    max-height: 9vw;
    overflow-y: scroll;
    padding-bottom: 1vw;
    word-break: break-word;

    &::-webkit-scrollbar {
      width: 0.5vw;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 2vw;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 2vw;
      transition: background 0.3s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  @include respond(mobile) {
    width: 100%;

    &__name {
      font-size: 5vw;
      font-weight: bold;
    }
    &__description {
      font-size: 4vw;
      color: #7F7F7F;
      margin-top: 4vw;
      white-space: pre-line;
      max-height: 50vw;

      &::-webkit-scrollbar {
        width: 2vw;
      }
    }
  }

}